{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AZURE_SUBSCRIPTION_ID": "00000000-0000-0000-0000-000000000000",
    "AZURE_RESOURCE_GROUP": "rg-azure-vm-orchestrator-dev",
    "AZURE_LOCATION": "switzerlandnorth",
    "AZURE_SUBNET_ID": "/subscriptions/.../subnets/snet-vm",
    "ORCH_ALLOWED_CLIENT_CIDR": "0.0.0.0/0",
    "ORCH_MAX_PARALLEL_VMS": "3",
    "ORCH_VM_LIFETIME_MIN": "60",
    "ORCH_VM_ADMIN_USERNAME": "azureuser",
    "ORCH_VM_SIZE_LINUX": "Standard_B1s",
    "ORCH_VM_SIZE_WINDOWS": "Standard_B1s",
    "ORCH_API_KEY": "replace-with-long-random-string"
  }
}
